@{
    ViewBag.Title = "About";
}
<h1>About Us</h1>

<p>Name: Sage Hackbarth</p>
<p>Email: steeelerfan69@gmail.com</p>
<p>Role: Designer, creator, lead basket case, and everything else under the sun</p>
