
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div>
    We are sorry to say that an error has occured. Please try again at a later time.
</div>
</body>
</html>
